.gallery {
  img {
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    border-bottom: 2px solid #fff;
  }
}

#gallery_true {
  z-index: 1
}

#gallery_false {
  z-index: 2;

}

.no-opacity{
  opacity: 0;
}